{% extends 'base.html' %}

<h1>Login</h1>
<html>
	<head>
		{% block head %}
		<title>Login</title>
		{% endblock %}
	</head>
	<body>
		{% block body %}
		<h2>Login</h2>
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button class="btn btn-secondary" type="submit">Login</button>
		</form>
		<h2>No account ?</h2>
		<a class="btn btn-secondary" href="{% url 'signup' %}" role="button">Sign Up</a>
		<h2> Forgot password ?</h2>
		<a class="btn btn-primary" href="{% url 'password_reset' %}" role="button">Reset</a>
		{% endblock %}
	</body>
</html>